{%extends 'base.html'%}

{%block content%}
        <div style="  margin: 0; padding-left: 0%; padding-right: 0%; display:flex; flex-direction: row; gap: 0.5rem; height: 100%; align-items: center; width: 100%;"  class="col-lg-8  offset-lg-2">
           
            <div style="padding-left: 2rem; width: 100%;">
                <div>
                <p style="line-height:1; color: #e4e4e4;">
                    <span class="Ope-SemiBold" style="font-size: 20px;">Tahap Persiapan</span><br>
                    <span class="Bold" style="font-size: 40px;">PILIH DEVICE KAMERA</span>
                </p>
                </div>
            
                <a href="{{url_for('views.detect',cam="rtsp://admin:filzahudi12345@192.168.1.74:554/stream0:0")}}">  
                <div style="padding-left:3rem; overflow: auto;">
                <p style="color: #e4e4e4;">
                    <span style="font-size: 15px;" class="Ope-Regular">DEVICE</span><br>
                    <span style="font-size: 15px;" class="Ope-Bold">CCTV 01</span>
                    <hr style="border-color: #e4e4e4; width: 28%;">
                </p>
                </div>
                </a>
              
            </div>
            



        </div>

{%endblock%}