
{%extends 'base.html'%}

<!-- {%block nav%}
<div class="navi">
    <div class="navi-left">
        <div ><a href="{{url_for('views.home')}}" class="Oxa-ExtraBold" style="font-size: 15px;">HEALTH<br>CHICKEN<br>DETECTION</a></div>

    </div>
    <div class="navi-right Ope-Bold" style="font-size: 15px;">
        <div><a href="{{url_for('views.device')}}" >DETECT</a></div>
        <div><a href="{{url_for('views.home')}}" >HOME</a></div>
    </div>
</div>
{%endblock%} -->

{%block content%}

        

        <!-- <div style="background-color: aquamarine; padding-left: 0%; padding-right: 0%; display:flex; flex-direction: column; gap: 0.5rem; height: 100%; justify-content: center;"  class="col-lg-8  offset-lg-2"> -->
        <div style="padding-left: 0%; padding-right: 0%; display:flex; flex-direction: row; gap: 0.5rem; height: 100%; align-items: center;"  class="col-lg-8  offset-lg-2">

            <div style="width: 50%; gap: 1rem;" class="flex-h-left cam">
                <p style="line-height: 0.8;">
                <span class="Ope-Bold" style="color: #e7e7e7; font-size: 20px;">Device</span>
                <br>
                <span class="Ope-Light" style="color: #e7e7e7; font-size: 40px;">Camera 0</span>
                </p>
                <div class="flex-h-left kelas" style="line-height: 1.2rem;">
                <div class="flex-h" style="align-items: center; gap: 1rem;">
                    <div style="width: 10px; height: 10px; border-radius: 10px; background-color: greenyellow;"></div>
                    <div>
                        <p style="color: #e7e7e7;"><span class="Ope-Regular">Kelas</span><br><span class="Ope-Bold">Sehat</span></p>
                    </div>
                </div>
                <div class="flex-h" style="align-items: center; gap: 1rem;">
                    <div style="width: 10px; height: 10px; border-radius: 10px; background-color:rgb(255, 224, 47);"></div>
                    <div>
                        <p style="color: #e7e7e7;"><span class="Ope-Regular">Kelas</span><br><span class="Ope-Bold">Sakit</span></p>
                    </div>
                </div>
                <div class="flex-h" style="align-items: center; gap: 1rem;">
                    <div style="width: 10px; height: 10px; border-radius: 10px; background-color: rgb(255, 47, 47);"></div>
                    <div>
                        <p style="color: #e7e7e7;"><span class="Ope-Regular">Kelas</span><br><span class="Ope-Bold">Mati</span></p>
                    </div>
                </div>
            </div>
            </div>
            

            <div  style="50%; height: 50%; border-radius: 20px;">
                <img src="{{ url_for('views.video_feed') }}" style=" width: 100%;  height:100%; border-radius: 1rem; border:#040404 solid 2px;;" >
            </div>

            
            <a href="{{url_for('views.device')}}">
                <div class="Ope-ExtraBold" style=" width: 120px; text-align: center; height: 40px; border-radius: 6px; align-content: center; position:absolute; bottom: 1rem; left: 40px; background-color: #e7e7e7; color:#040404">KEMBALI</div>
            </a>
        </div>

<!-- <div class="footer">
    <h3>footer</h3>
</div> -->


{%endblock%}
